* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper {
  font-family: 'Montserrat', sans-serif;
}
.hamburger {
  margin-left: auto;
  display: none;
}
@import'./layout/var';
@import'./layout/fonts';
@import './layout/header-blog';
@import'./layout/banner';
@import'./layout/footer';

