 :root{
  --color-gray-10:#FFFFFF;
  --color-gray-30:#ECECEC;
  --color-gray-40:#F2F2F2;
  --color-gray-60:#252D37;
  --color-gray-90:#000000;
  --color-aqua:#00FEFF;
  --color-dark-50:#013571;
  --color-dark-70:#002047;
  --color-dark-80:#001E42;
  --color-dark-90:#01357140;
}


